* {
    padding: 0%;
    margin: 0%;
    border: 0%;
}

h1,
h2,
h3,
p {
    text-align: center;
    align-self: center;
}

.hero {
    display: grid;
    height: 80vh;
    width: auto;
    background-image: url(/static/images/assets/backgrounds/h_img.jpg);
    background-size: 100vw;
    background-repeat: no-repeat;
    place-items: center;
}

.hero-container {
    display: grid;
    place-items: center;
}

.about {
    height: 40vh;
    width: 100vw;
}

.services {
    display: grid;
    color: white;
    height: 40vh;
    width: 100vw;
    background-image: url(/static/images/assets/backgrounds/s_image.jpg);
    place-items: center;
}

.services-container {
    display: grid;
    place-items: center;
}

.what {
    padding: 5em;
    height: 30vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5%;
}