* {
    padding: 0%;
    margin: 0%;
    border: 0%;
}

h1,
h2,
h3,
p {
    text-align: center;
    align-self: center;
}

.hero {
    display: grid;
    height: 80vh;
    width: auto;
    background-image: url(/static/images/assets/backgrounds/h_img.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    place-items: center;
}

.hero-container {
    display: grid;
    place-items: center;
}

.about {
    padding: 0em 5em;
    display: grid;
    height: 50vh;
    width: 100vw;
    place-items: center;
}

.services {
    padding: 0em 5em;
    display: grid;
    color: white;
    height: 40vh;
    width: 100vw;
    background-image: url(/static/images/assets/backgrounds/s_image.jpg);
    place-items: center;
}

.services-container {
    display: grid;
    place-items: center;
}

.what {
    padding: 5em;
    min-height: 50vh;
    max-height: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20em, 1fr));
    gap: 2em;
    place-items: center;
}

.portfolio_container {
    height: auto;
    display: grid;
    gap: 5em;
    grid-template-columns: repeat(auto-fit, minmax(20em, 1fr));
    padding: 5em;
}

.portfolio_image {
    max-height: 150em;
}

footer {
    display: grid;
    place-items: center;
}

.contact {
    height: 50vh;
    background-image: url(/static/images/assets/backgrounds/c_image.jpg);
}

.form_container {
    padding: 5em 10em;
}

.row {
    padding: 1.5em 0em;
}